#container {
    width: 1024px;
    height: 1024px;
    display: grid;
}

.item {
    background-color: gray;
    text-align: center;
    transition: 0.1s;
}

.hover {
    transition: 0.1s;
    background-color: black;
}